:root {
  --background: #4d4d4d;
  --columns: #b8b8b8;
  --cars: #ff7f50; /* Coral color */
}

body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  background: var(--background);
  text-align: center;
}

#cars img {
  margin-top: 10px;
  max-width: 100%;
  max-height: 80%;
}

#details img {
  padding: 10px;
  max-width: 80%;
  max-height: 20%;
}

button {
  cursor: pointer;
}

.column {
  margin: 20px;
  background-color: var(--columns);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.column:not(#cars section):not(#details section) {
  box-shadow: 8px 10px var(--cars);
}

#cars,
#details {
  padding: 5px;
  min-height: 400px;
}

#cars section {
  background-color: var(--cars);
  padding: 30px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-radius: 10px;
}

#cars section:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}

#addCar {
  background-color: var(--cars);
  border: 2px solid white;
  border-radius: 5px;
  width: 250px;
  max-width: 100%;
  padding: 10px;
  margin: 5px;
}

#form-submit-button,
#delete-confirmation button {
  background-color: var(--cars);
  border: 3px solid white;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

#addCar:hover {
  background: var(--columns);
  color: black;
}

#add-car-form,
#delete-confirmation {
  background-color: var(--cars);
  border: 3px solid white;
  width: 50%;
  margin: 10px auto;
  border-radius: 10px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  padding: 20px;
}

#delete-confirmation {
  padding: 20px;
}

#delete-confirmation button {
  margin: 10px;
  border-radius: 5px;
}

#add-car-form p {
  padding: 10px;
  margin: 10px;
}

#add-car-form label {
  display: inline-block;
  width: 225px;
}

#add-car-form input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

#add-car-form input,
#add-car-form label {
  max-width: 100%;
}

#add-car-form h1 {
  padding: 10px;
}

#cars a {
  cursor: pointer;
}

#exit-button {
  display: inline;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
}

#exit-button:hover {
  color: var(--background);
}

#form-submit-button:hover,
#delete-confirmation button:hover {
  background: var(--background);
  color: black;
}

#result {
  text-align: center;
  font-size: 1.4em;
  color: white;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

#title {
  font-size: 3em;
  color: #fff;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

#cars section a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

#details section h2 {
  text-align: center;
  font-size: 1.8em;
  color: #fff;
}

.icon {
  padding: 5px;
  font-size: 1.3em;
  cursor: pointer;
}

#details section p {
  font-size: 1.5em;
}

#addCar {
  font-size: large;
  color: white;
}

#add-car-form {
  color: white;
}

#add-car-form label {
  font-size: 1.2em;
  font-weight: bold;
}

#form-submit-button,
#delete-confirmation button {
  font-size: large;
  color: white;
}

#delete-confirmation {
  color: white;
}

input::placeholder {
  color: rgb(202, 202, 202);
}

@media only screen and (min-width: 600px) {
  .flex-container {
    display: flex;
  }

  .column {
    flex: 1;
  }

  #cars section {
    flex: 20%;
  }

  #cars {
    flex-wrap: wrap;
  }
}
